* {
    font-family: Comic Sans MS;
    font-size: 20px;

}

body {
    margin: 0;
    padding: 0;
    background: #4bb3fd;
}

.main {

    width: 75%;
    border: 1px solid green;
    text-align: center;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
    background-color: #37718E;
    text-align: center;
    padding: 0;
    margin: 0 4px;

}

.nav ul {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8 em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin: 0 4px
}

.nav a {
    text-decoration: none;
    color: #abd2fa;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #091540;
}

.nav a:active {
    background-color: #fff;
    color: #444;
    cursor: default;
}


.nav li {
    display: inline-block;
    margin-right: -4px
}

.soldier img {
    text-align: left;
    margin-top: auto;
    float: left;
    padding: 25px;

}

.desc {
    padding: 25PX;

}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content2 {
    position: fixed;
    top: 0;
    width: 100%;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


p {
    text-align: center;
    color: black;
}

p1 {
    color: aliceblue
}